*{
	margin:0;
	padding:0;
}
/* 顶部 start*/
.header{
	position:relative;
	width:100%;
	height:130px;
}
.logo-sign{
	float:left;
	margin-left:55px;
	margin-top:20px;
}
.logo-sign h4{
	margin-left:50px;
	margin-top:20px;
	font-size:23px;
	font-weight:400;
}
.logo-sign p{
	font-size:12px;
	margin-top:6px;
}
.logo img{
	float:left;
	width:auto;
	height:60px;
	margin-top:35px;
	margin-left:20px;
}
	/* 右上角导航栏  start*/
.nav1{
	float:right;
	margin-right:70px;
	margin-top:40px;
	font-size:10px;
}
.nav1 ul{
	display:flex;
	margin-bottom: 10px; 
	margin-left:280px
}
.nav1 ul li{
	list-style:none;
}

.nav1 ul li a{
	color: black;
	font-size: 10px;
	text-decoration: none;
	margin-right:30px;
}

.nav1 .search-container {
	width:460px;
	height:30px;
	border-radius: 0;
	border: 1px solid #7ba37c;
}
.nav1 .search-container input{
	border-radius: 0;
	border:0;
	height:25px;
	width:355px;
	font-size: 14px;
	outline: none; /* 去掉聚焦时的默认轮廓线条 */
    font-weight: normal; /* 取消加粗 */
	margin-left: 5px;
}
.nav1 .search-container button{
	color:#fff;
	font-size: 14px;
	height:30px;
	width: 97px;
	background-color: #7ba37c;
	border:0px;
	cursor: pointer;
}
	/* 右上角导航栏 end */

/* 顶部 end*/

/* 主导航栏 start*/
.nav2{
	width:100%;
	height: 40px;
	line-height: 40px;
	border-bottom: 5px solid #7ba37c;
	position:relative;
}
.nav2 ul{
	display:flex;
	justify-content: center;
}
.nav2 ul li{
	list-style:none;
	width:100px;
	margin: 0 38px;
}

.nav2 ul #home-page{
	background-color: #7ba37c;
}

.nav2 ul #home-page a{
	color: #fff;
}

.nav2 ul li a{
	margin-top: 4.5px;
	display: flex;
    justify-content: center; 
	color: black;
	text-decoration:none;
	font-size:17px;
}

.nav2 ul li:hover{
	background-color: #9fc79f;
	a{
		color: #fff;
	}
}
/* 主导航栏 end*/

/* 内容区 start*/
.content{
	display:flex;
	width:100%;
	flex-direction: column;
	height:92vh;
}
	/* 主图展示 start */
.content .exhibition{
	width:100%;
	height: 40vh;
	overflow:hidden;
	position:relative;
}
.content .exhibition img{
	width:100%;
	position: absolute;
	left: 50%;
	transform : translateX(-50%);
}
	/* 主图展示 end */
	/* 底部内容区 start */
.content .bottom-content{
	width:100%;
	position: relative;
	height:45vh;
	background: linear-gradient(to bottom, #e9f0e9, #ffffff);
	padding-bottom: 0;
	margin-bottom:0;
}
		/* 口号 start */
.content .bottom-content .slogan{
	margin: 0 auto;
	width:80%;
	height:40px;
	padding:11px;
	border-bottom: 3px dotted #808080;
	border-spacing:10px;
	margin-bottom: 20px;
}
.content .bottom-content .slogan p{
	display:flex;
	justify-content: center; 
	font-size: 27px;
	font-weight: 600;
	letter-spacing:3px;
}
		/* 口号 end */

		/* 左侧展板 start */
.content .bottom-content .sub-exhibition{
	/* display:flex; */
	position:relative;
	float:left;
	width:30%;
	height:78%;
	overflow:hidden;
	margin: 8px 0 0 190px;
	background-color: #616161;
}
.content .bottom-content .sub-exhibition img{
	position:relative;
	width:100%;
	height:93%;
}
.content .bottom-content .sub-exhibition .exhibition-descrpition{
	display: flex;
	position:relative;
	height:100px;
	margin:0;
}
.content .bottom-content .sub-exhibition .exhibition-descrpition p{
	color: #fff;
	font-size: 12px;
	letter-spacing: 1px;
	margin-left:3px;
	margin-right:0;
	line-height: 13px;
}
.content .bottom-content .sub-exhibition .exhibition-descrpition ul{
	position:absolute;
	display: flex; 
	list-style: none; 
	right: 10px;
}
.content .bottom-content .sub-exhibition .exhibition-descrpition ul li button{
	width: 8px;
	height: 8px;
	background-color: #cecece; /* 设置点的颜色 */
	border-radius: 50%; /* 设置为圆形 */
	margin-left: 10px; /* 设置点之间的间距 */
	border:0;
}
.content .bottom-content .sub-exhibition .exhibition-descrpition ul #the-one button{
	background-color: #ffffff;
}
.content .bottom-content .sub-exhibition .exhibition-descrpition ul li button:hover{
	background-color: #ffffff;
}
		/* 左侧展板 end */

		/* 右侧信息动态 start */
.content .bottom-content .trends{
	margin:0;
	position:relative;
	float:right;
	width:50%;
}
			/*标题栏 start*/
.content .bottom-content .trends .trends-title{
	float:left;
	width:80%;
	height:50px;
	border-bottom:2px dotted #808080;
	padding-bottom: 8px;
}
.content .bottom-content .trends .trends-title p{
	display: inline-block;
	font-size: 30px;
	font-weight: 540;

}
.content .bottom-content .trends .trends-title button{
	
	color:#fff;
	background-color: #7ba37c;
	border:0;
	padding:3px 6px;
	float:right;
	margin-top: 5px;
	margin-right:15px;
	cursor: pointer;

}
			/*标题栏 end*/
			/*信息区 start */
.content .bottom-content .trends .message{
	float:left;
	width:80%;
}

.content .bottom-content .trends .message ul li{
	margin-top:14px;
	margin-left:30px;
	color:#7ba37c;
}
.content .bottom-content .trends .message ul li a{
	display: inline-block;
	text-decoration: none;
	color:#000;
}
.content .bottom-content .trends .message ul li p{
	float:right;
	margin-right:20px;
	color: #808080;
}
			/*信息区 end */
		/* 右侧信息动态 end */
	/* 底部内容区 end */
/* 内容区 end*/